alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias mkdir='mkdir -p'

alias jsonit='python -m json.tool |pygmentize -l javascript'

shopt -s checkwinsize

[[ $(type -t ls) == "alias" ]] && unalias ls

export PS1="[\u@\h:\W]\\$ "
